.section-scroll {
  grid-column: 2;
  grid-row: 3;

  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;

  font-family: var(--font-secondary);
  font-size: 7rem;
  text-transform: uppercase;
  color: var(--color-light);
  gap: 1rem;
  transition: 0.5s;
}

.section-scroll div {
  animation: move 18s linear infinite;

  span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10rem;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
